[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/git"]
	path = vim/.vim/bundle/git
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/.vim/bundle/solarized"]
	path = vim/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/PIV"]
	path = vim/.vim/bundle/PIV
	url = https://github.com/spf13/PIV.git
[submodule "vim/.vim/bundle/checksyntax_vim"]
	path = vim/.vim/bundle/checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "vim/.vim/bundle/ctrlp"]
	path = vim/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
